.head {
    width: 150px;
    height: 150px;
    margin: 50px;
    background: #a4d9eb;
    border: 5px solid #9bbcc2;
    border-radius: 20px;
    position: relative;
}

.light {
    position: absolute;
    top: -45px; 
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bulb {
    width: 30px;
    height: 30px;
    background: #ffa500;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-bottom: -5px;
}

.stick {
    width: 10px;
    height: 15px;
    background: #808080;
    z-index: 1;
}

.ears {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.ear {
    width: 10px;
    height: 50px;
    background: #c90a0a;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.ear:first-child {
	position: relative;
    left: -15px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.ear:last-child {
	position: relative;
    right: -15px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.eyes {
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
	justify-content: space-around;
    width: 80px;
	gap: 30px;
}

.eye {
    width: 30px;
    height: 30px;
    background: white;
    border: 5px solid #00b3ff;
    border-radius: 50%;
}

.nose {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 30px solid #c90a0a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -40%);
}

.mouth {
    width: 100px;
    height: 25px;
    background: #dedede;
    border: 1px solid black;
    border-radius: 20px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 0 5px;
}

.tooth {
    width: 5px;
    background: black;
}
